{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if list.0 != None %}
    <a name="back" href="/posts/{{ list.0.id }}">previous post</a>
{% else %}
    <a name="back">previous post</a>
{% endif %}
<a name="postpage" href=".">back to posts</a>
{% if list.2 != None %}
    <a name="next" href="/posts/{{ list.2.id }}">next post</a>
{% else %}
    <a name="next">next post</a>
{% endif %}

<style>
    a[name="postpage"] {
        float: left;
        width:33.33333%;
        text-align:center;
    }
    a[name="back"] {
        float:left;
        width:33.33333%;
        text-align:left;
    }
    a[name="next"] {
        float:right;
        width:33.33333%;
        text-align:right;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }
    #title {
        box-sizing: border-box;
        border-top: 3px solid #563d7c;
        border-bottom: 2px solid #563d7c;
        width: 400px;
        background: #563d7c;
        margin-bottom: 2px;
        word-wrap: break-word;
    }
    #obj {
        box-sizing: content-box;
        padding-bottom: 10px;
        padding-top: 0px;
        width: 400px;
        border: 2px solid #563d7c;
        border-radius: 5px;
        margin: auto;
        background: black;
    }
    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .buttonCreate {background-color: #563d7c;}
</style>
<script>
    function stateVoted(voted, updown, id) {
        if (updown) {
            if (voted == 1)
                document.getElementById(id).src = "/media/assets/up_active.png"
            else
                document.getElementById(id).src = "/media/assets/up.png"
        }
        else {
            if (voted == -1)
                document.getElementById(id).src = "/media/assets/down_active.png"
            else
                document.getElementById(id).src = "/media/assets/down.png"
        }
    }
    function like(id) {
        window.location.href = '/posts/upvote/' + id;
        setTimeout(function() {
            window.location = '.';
            window.location.reload();
        }, 100);
    }
    function dislike(id) {
        window.location.href = '/posts/downvote/' + id;
        setTimeout(function() {
            window.location = '.';
            window.location.reload();
        }, 100);
    }
</script>
<br>
<h1>{{ obj.title }}</h1>
<div class="scores">
<span id="likes" style="padding-right:120px;"><a href="javascript:like({{obj.id}}, {{obj.upvote.count}})"><img id={{obj.id}} src="" height="auto"></a>  Likes: {{obj.upvote.count}}</span>
<span id="dilikes" style="padding-left:120px;">Dislikes: {{obj.downvote.count}}  <a href="javascript:dislike({{obj.id}}, {{obj.downvote.count}})"><img id=-{{obj.id}} src=""  height="auto"></a></span>
    <script>
        stateVoted({{voted}}, 1, {{obj.id}});
        stateVoted({{voted}}, 0, -{{obj.id}});
    </script>
</div>
<h6> - {{ obj.user }}</h6>
{% if obj.edited != obj.uploaded %}
    <p>Uploaded: {{ obj.uploaded }}  Last Edited: {{ obj.edited }} </p>
{% else %}
    <p>{{ obj.uploaded }}</p>
{% endif %}
{% if obj.user == request.user %}
    <a href="/posts/edit/{{ list.1.id }}">edit post</a> | <a href="/posts/delete/{{ list.1.id }}">delete post</a>
{% endif %}
<hr>
{% if obj.file %}
    <img src="{{ obj.file.url }}" alt="" class="center"/>
{% endif %}
<div align="justify">
    {{ obj.content|linebreaks }}
</div>

{% for x in obj.comments.all %}
<div id="obj">
    <h6 id ="title">{{x.user}} says:</h6>
    <div style="color:white;">{{x.uploaded}}</div>
    <div style="color:white;">{{x.content | linebreaks}}</div>
</div>
<br>
{% endfor %}

<form action="" method="POST" enctype='multipart/form-data' >{% csrf_token %}
    {{ comment_form}}
    <input type="submit" value="Save"/>
</form>



{% endblock %}
